<div class ="logo col-md-4">
    <%= image_tag("app_logo.png" , width: "60",class: "shake") %>
</div>
<div class = "menu_bar col-md-8">
  <ul class ="nav nav-pills nav-justified">
    <li>
      <a>匿名留言</a>
    </li>
    <li>
      <a>留言系統</a>
    </li>
    <li>
      <a>地圖系統</a>
    </li>
</div>
