<div class="contex col-md-12">
  <div class="animous_block col-md-12">
    <div  class="img col-md-5">
      <%= image_tag("comment.png")%>
    </div>
    <div class="title col-md-7">
      <h2>匿名留言系統</h2>
      <div>
        匿名留言系統，讓你可以隨心所欲地到處留下你的評論，但不會暴露你的蹤跡。
      </div>
    </div>
  </div>
</div>
