<div class="contex col-md-12">
  <div class="img col-md-12">
    <div  class="white_block col-md-5">
    </div>
    <div class="text col-md-7">
      <div class="white_block col-md-5">
      </div>
      <div class="mini_context col-md-7">
        <div>
          <div class="title">
            匿名 ＋ 留言 ＋ 地圖
          </div>
          <hr/>
          <h1>最方便的選擇</h1>
          <div>
            一鍵搞定。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle_block col-md-12">
    <div class="title">
      <h1>即時方便的留言系統</h1>
    </div>
    <hr/>
    <div class="context">
      分成三大特色，讓你能夠運用手機，電腦，對附近的機構’地點’餐廳評比。讓你在當地馬上就能了解附近的狀況。
    </div>
  </div>
</div>
